$primary-color: rgba(13,110,139,0.75)
$overlay-color: rgba(24,39, 51, 0.85)
$menu-speed: 0.75s

*
    margin: 0
    padding: 0

.header
    display: grid
    grid-template-columns: repeat(4, 1fr)
    min-height: 100vh
    &_item-1
        display: grid
        align-items: center
        justify-items: center
        width: auto
        background: #fe5c5d
        grid-row-start: span 2
        grid-column-start: span 2
        border: #fff solid 1px 
        border-top: 0
        border-left: 0
        color: #1c1e22
    &_item-2
        display: grid
        align-items: center
        justify-items: center
        grid-row-start: span 1
        grid-column-start: span 2
        background: #1c1e22
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        color: #fff
        border: #fff solid 1px
        border-right: 0
        border-top: 0
    &_item-3
        display: grid
        align-items: center
        justify-items: center
        width: auto
        grid-row-start: span 1
        grid-column-start: span 2
        background: #1c1e22
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        color: #fff
        border: #fff solid 1px
        border-right: 0
    &_item-4
        display: grid
        align-items: center
        justify-items: center
        width: auto
        grid-row-start: span 1
        grid-column-start: span 2
        background: #1c1e22
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        color: #fff
        border: #fff solid 1px
        border-bottom: 0
        border-left: 0
    &_item-5
        display: grid
        align-items: center
        justify-items: center
        width: auto
        grid-row-start: span 1
        grid-column-start: span 1
        background: #fe5c5d
        border: #fff solid 1px
        color: #1c1e22
        border-bottom: 0
    &_item-6
        display: grid
        align-items: center
        justify-items: center
        width: auto
        grid-row-start: span 1
        grid-column-start: span 1
        background: #1c1e22
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        color: #fff
        border: #fff solid 1px
        border-bottom: 0
        border-right: 0

.menu-wrap
    visibility: hidden
    position: fixed
    top: 0
    left: 0
    z-index: 1
    &-toggler
        position: absolute
        top: 0
        left: 0
        z-index: 2
        cursor: pointer
        width: 50px
        height: 50px
        opacity: 0
        &__hamburger
            position: absolute
            top: 0
            left: 0
            z-index: 1
            width: 30px
            height: 30px
            padding: 1rem
            // background: $primary-color
            display: flex
            align-items: center
            justify-content: center
            div
                position: relative
                width: 100%
                height: 2px
                background-color: #fff
                display: flex
                align-items: center
                justify-items: center
                transition: all 0.4s ease
            div:before, div:after
                content: ''
                position: absolute
                z-index: 1
                top: -10px
                width: 100%
                height: 2px
                background: inherit
            div:after
                top: 10px
    &-toggler:checked + &-toggler__hamburger > div
        transform: rotate(135deg)
    &-toggler:checked + &-toggler__hamburger > div:before,
    &-toggler:checked + &-toggler__hamburger > div:after
        top: 0
        transform: rotate(90deg)
    &-toggler:checked:hover + &-toggler__hamburger > div
        transform: rotate(225deg)
    &-toggler:checked ~ &-menu
        visibility: visible
    &-toggler:checked ~ &-menu
        div
            transform: scale(1)
            transition-duration: $menu-speed
            div
                opacity: 1
                transition: opacity 0.4s ease
    &-menu
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        visibility: hidden
        overflow: hidden
        display: flex
        align-items: center
        justify-content: center
        div
            background: $overlay-color
            // border-radius: 50%
            width: 200vw
            height: 200vw
            display: flex
            flex: none
            align-items: center
            justify-content: center
            transform: scale(0)
            transition: all 0.4s ease
            div
                text-align: center
                max-width: 90vw
                min-height: 100vh
                opacity: 0
                transition: opacity 0.4 ease
                ul
                    li
                        list-style: none
                        color: #fff
                        font-size: 1.5rem
                        padding: 1rem
                        a
                            color: inherit
                            text-decoration: none
                            transition: color 0.4s ease





@media ( max-width: 1024px )
    .header
        grid-template-columns: repeat(1, 1fr)
        &_item-1
            border: 0
            min-height: 100vh
        &_item-2
            border: 0 
            min-height: 100vh
        &_item-3
            border: 0
            min-height: 100vh
        &_item-4
            border: 0
            min-height: 100vh
        &_item-5
            border: 0
            min-height: 100vh
        &_item-6
            border: 0
            min-height: 100vh
            grid-column-start: span 2
    .menu-wrap
        visibility: visible