*
    margin: 0
    padding: 0

.header
    display: grid
    grid-template-columns: repeat(4, 1fr)
    min-height: 100vh
    &_item-1
        display: grid
        align-items: center
        justify-items: center
        width: auto
        background: #fe5c5d
        grid-row-start: span 2
        grid-column-start: span 2
        border: #fff solid 1px 
        border-top: 0
        border-left: 0
        color: #1c1e22
    &_item-2
        display: grid
        align-items: center
        justify-items: center
        grid-row-start: span 1
        grid-column-start: span 2
        background: #1c1e22
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        color: #fff
        border: #fff solid 1px
        border-right: 0
        border-top: 0
    &_item-3
        display: grid
        align-items: center
        justify-items: center
        width: auto
        grid-row-start: span 1
        grid-column-start: span 2
        background: #1c1e22
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        color: #fff
        border: #fff solid 1px
        border-right: 0
    &_item-4
        display: grid
        align-items: center
        justify-items: center
        width: auto
        grid-row-start: span 1
        grid-column-start: span 2
        background: #1c1e22
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        color: #fff
        border: #fff solid 1px
        border-bottom: 0
        border-left: 0
    &_item-5
        display: grid
        align-items: center
        justify-items: center
        width: auto
        grid-row-start: span 1
        grid-column-start: span 1
        background: #fe5c5d
        border: #fff solid 1px
        color: #1c1e22
        border-bottom: 0
    &_item-6
        display: grid
        align-items: center
        justify-items: center
        width: auto
        grid-row-start: span 1
        grid-column-start: span 1
        background: #1c1e22
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        color: #fff
        border: #fff solid 1px
        border-bottom: 0
        border-right: 0



@media ( max-width: 480px )
    .header
        grid-template-columns: repeat(1, 1fr)
        &_item-1
            min-height: 100vh
        &_item-2
            min-height: 100vh
        &_item-3
            min-height: 100vh
        &_item-4
            min-height: 100vh
        &_item-5
            min-height: 100vh
        &_item-6
            min-height: 100vh
            grid-column-start: span 2