* {
  margin: 0;
  padding: 0;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  min-height: 100vh;
}

.header_item-1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: auto;
  background: #fe5c5d;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  border: #fff solid 1px;
  border-top: 0;
  border-left: 0;
  color: #1c1e22;
}

.header_item-2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  background: #1c1e22;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  border: #fff solid 1px;
  border-right: 0;
  border-top: 0;
}

.header_item-3 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: auto;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  background: #1c1e22;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  border: #fff solid 1px;
  border-right: 0;
}

.header_item-4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: auto;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  background: #1c1e22;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  border: #fff solid 1px;
  border-bottom: 0;
  border-left: 0;
  cursor: pointer;
}

.header_item-4__title-new {
  display: none;
}

.header_item-4__info {
  display: none;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  padding: 1rem;
}

.header_item-4__info-experience {
  font-size: 20px;
}

.header_item-4__info-experience svg {
  -ms-grid-column-align: center;
      justify-self: center;
  fill: #fff;
  font-size: 18px;
  font-weight: bold;
}

.header_item-4__info-description {
  font-size: 20px;
}

.header_item-5 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: auto;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  background: #fe5c5d;
  border: #fff solid 1px;
  color: #1c1e22;
  border-bottom: 0;
  cursor: pointer;
}

.header_item-5__info {
  display: none;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.header_item-5__info-instagram {
  height: 30px;
  width: 30px;
  background: url("./instagram.svg");
  background-position: center center;
  background-size: cover;
}

.header_item-5__info-telegram {
  height: 30px;
  width: 30px;
  background: url("./telegram.svg");
  background-position: center center;
  background-size: cover;
}

.header_item-5__info-google {
  height: 30px;
  width: 30px;
  background: url("./google-plus.svg");
  background-position: center center;
  background-size: cover;
}

.header_item-5__info-vk {
  height: 30px;
  width: 30px;
  background: url("./vk.svg");
  background-position: center center;
  background-size: cover;
}

.header_item-5__info-github {
  height: 30px;
  width: 30px;
  background: url("./github.svg");
  background-position: center center;
  background-size: cover;
}

.header_item-6 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: auto;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  background: #1c1e22;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  border: #fff solid 1px;
  border-bottom: 0;
  border-right: 0;
}

.header .showInfoItem-4 {
  -webkit-animation-name: open;
          animation-name: open;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.header .showInfoItem-4 .header_item-4__title-old {
  display: none;
}

.header .showInfoItem-4 .header_item-4__title-new {
  display: block;
}

.header .showInfoItem-4 .header_item-4__info {
  display: -ms-grid;
  display: grid;
}

.header .hiddenInfoItem-4 {
  -webkit-animation-name: closed;
          animation-name: closed;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.header .hiddenInfoItem-4 .header_item-4__title-old {
  display: block;
}

.header .hiddenInfoItem-4 .header_item-4__title-new {
  display: none;
}

.header .hiddenInfoItem-4 .header_item-4__info {
  display: none;
}

.header .showInfoItem-5 {
  -webkit-animation-name: open;
          animation-name: open;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.header .showInfoItem-5 .header_item-5__title {
  display: none;
}

.header .showInfoItem-5 .header_item-5__info {
  display: -ms-grid;
  display: grid;
}

.header .hiddenInfoItem-5 {
  -webkit-animation-name: closed;
          animation-name: closed;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.header .hiddenInfoItem-5 .header_item-5__title {
  display: block;
}

.header .hiddenInfoItem-5 .header_item-5__info {
  display: none;
}

@-webkit-keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes closed {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes closed {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.menu-wrap {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap-toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap-toggler__hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap-toggler__hamburger div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap-toggler__hamburger div:before, .menu-wrap-toggler__hamburger div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap-toggler__hamburger div:after {
  top: 10px;
}

.menu-wrap-toggler:checked + .menu-wrap-toggler__hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrap-toggler:checked + .menu-wrap-toggler__hamburger > div:before,
.menu-wrap-toggler:checked + .menu-wrap-toggler__hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap-toggler:checked:hover + .menu-wrap-toggler__hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap-toggler:checked ~ .menu-wrap-menu {
  visibility: visible;
}

.menu-wrap-toggler:checked ~ .menu-wrap-menu div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

.menu-wrap-toggler:checked ~ .menu-wrap-menu div div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap-menu div {
  background: rgba(24, 39, 51, 0.85);
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap-menu div div {
  text-align: center;
  max-width: 90vw;
  min-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4 ease;
  transition: opacity 0.4 ease;
}

.menu-wrap-menu div div ul li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap-menu div div ul li a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

@media (max-width: 1024px) {
  .header {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
  .header_item-1 {
    border: 0;
    min-height: 100vh;
  }
  .header_item-2 {
    border: 0;
    min-height: 100vh;
  }
  .header_item-3 {
    border: 0;
    min-height: 100vh;
    background: #fe5c5d;
  }
  .header_item-4 {
    border: 0;
    min-height: 100vh;
  }
  .header_item-4__info {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .header_item-5 {
    border: 0;
    min-height: 100vh;
  }
  .header_item-6 {
    border: 0;
    min-height: 100vh;
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
  .menu-wrap {
    visibility: visible;
  }
}
/*# sourceMappingURL=style.css.map */